<!doctype html>
<html lang="en">
  <head>
    <title>ph: A Practical, Principled HTTP Library for Scala - $title$</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="cache-control" content="no-cache, no-store" />
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet/less" href="/css/base16-default.light.$ts$.less">
    <link rel="stylesheet/less" href="/css/main.$ts$.less" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.5.0/less.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/highlight.min.js"></script>
  </head>
  <body>
    $body$

    <script>hljs.initHighlightingOnLoad();</script>
    <footer class="serif">
      <div class="container">
        <div class="row">
          <div class="col-lg-offset-1 col-lg-10">
            <span class="pull-left">
              &copy; 2014 Ricky Elrod
            </span>
            <span class="pull-right italic">
              <a href="https://github.com/CodeBlock/ph">ph</a> is open-source software.
            </span>
          </div>
        </div>
      </div>
    </footer>

    $if(highlight)$
    <script>
      $$(function() {
        $$('#$id$_menu').addClass('selected');
      });
    </script>
    $endif$
  </body>
</html>
